html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Andika', sans-serif !important;
  @include xxxl { 
    font-size: 1.1rem !important;
  }
  @include xxxm { 
    font-size: 1rem !important;
  }
  @include lg{
    font-size: 13px !important;
  }
  @include md{
    font-size: 11px !important;
  }
}
input:active,
input:focus,
button:active,
button:focus,
textarea:focus,
textarea:active{
  outline: none !important;
}

#root{
  display: grid;
  height: 100%;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 64px 1fr 50px;
  grid-template-areas:
          'sidebar header header'
          'sidebar content content'
          'footer footer footer'
  //display: flex;
  //flex-direction: column;

}
.content{
  grid-area: content;
  display: flex;
  flex: 1 0 auto;
}
.main-content{
  width: 100%;
  overflow-x: hidden;
}
.main-button{
  background: $background-transparent;
  border: 3px solid $color-orange-pale;
  border-radius: 10px;
  width: 30%;
  margin-top: 10px;
  padding: 8px;
  transition: 1s;
  &:hover{
    border-color: $colorDarkCyan;
  }
}

.dropdown-toggle::after{
  display: none !important;
}
.dropdown-toggle::before{
  display: none !important;
}