html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Andika', sans-serif !important;
}
input:active, input:focus, button:active, button:focus{
  outline: none;
}
#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content{
  display: flex;
  flex: 1 0 auto;
}