html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Andika', sans-serif !important;
}
input:active,
input:focus,
button:active,
button:focus,
textarea:focus,
textarea:active{
  outline: none !important;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content{
  display: flex;
  flex: 1 0 auto;
}
.main-content{
  width: 100%;
  overflow-x: hidden;
}
.main-button{
  background: $background-transparent;
  border: 3px solid $color-orange-pale;
  border-radius: 10px;
  width: 30%;
  padding: 8px;
  transition: 1s;
  &:hover{
    border-color: $colorDarkCyan;
  }
}

.dropdown-toggle::after{
  display: none !important;
}
.dropdown-toggle::before{
  display: none !important;
}